USE [master]
GO
/****** Object:  Database [Vendas]    Script Date: 24/03/2023 14:45:18 ******/
CREATE DATABASE [Vendas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Vendas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Vendas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Vendas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Vendas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Vendas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Vendas]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 24/03/2023 14:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOME_CLIENTE] [nvarchar](50) NOT NULL,
	[ENDERECO_CLIENTE] [nvarchar](50) NOT NULL,
	[BAIRRO_CLIENTE] [nvarchar](30) NOT NULL,
	[CEP_CLIENTE] [nvarchar](9) NOT NULL,
	[CIDADE_CLIENTE] [nvarchar](50) NOT NULL,
	[ESTADO_CLIENTE] [nvarchar](50) NOT NULL,
	[TELEFONE_CLIENTE] [nchar](14) NOT NULL,
	[EMAIL_CLIENTE] [nvarchar](50) NULL,
	[DATA_CADASTRO_CLIENTE] [datetime] NOT NULL,
	[NASCIMENTO_CLIENTE] [datetime] NOT NULL,
	[OBSERVACOES_CLIENTE] [nvarchar](300) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoa_fisica]    Script Date: 24/03/2023 14:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoa_fisica](
	[ID_CLIENTE] [int] NOT NULL,
	[CPF_CLIENTE] [nvarchar](30) NOT NULL,
	[RG_CLIENTE] [nvarchar](30) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoa_juridica]    Script Date: 24/03/2023 14:45:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoa_juridica](
	[ID_CLIENTE] [int] NOT NULL,
	[CNPJ_CLIENTE] [nvarchar](30) NOT NULL,
	[IE_CLIENTE] [nvarchar](30) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pessoa_fisica]  WITH CHECK ADD  CONSTRAINT [FK_Pessoa_fisica_Clientes] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[Clientes] ([ID_CLIENTE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pessoa_fisica] CHECK CONSTRAINT [FK_Pessoa_fisica_Clientes]
GO
ALTER TABLE [dbo].[Pessoa_juridica]  WITH CHECK ADD  CONSTRAINT [FK_Pessoa_juridica_Clientes] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[Clientes] ([ID_CLIENTE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pessoa_juridica] CHECK CONSTRAINT [FK_Pessoa_juridica_Clientes]
GO
USE [master]
GO
