USE [Vendas_FranciscodasChagas]
GO
CREATE TABLE [dbo].[Cargo](
	[ID_CARGO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_CARGO] [nvarchar](50) NOT NULL,
	[DESCRICAO_CARGO] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CARGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 23/11/2023 14:30:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[ID_CATEGORIA_PRODUTOS] [int] IDENTITY(1,1) NOT NULL,
	[NOME_CATEGORIA_PRODUTOS] [nvarchar](50) NOT NULL,
	[DESCRICAO_CATEGORIA_PRODUTOS] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA_PRODUTOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 23/11/2023 14:30:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOME_CLIENTE] [nvarchar](50) NOT NULL,
	[ENDERECO_CLIENTE] [nvarchar](50) NOT NULL,
	[BAIRRO_CLIENTE] [nvarchar](30) NOT NULL,
	[CEP_CLIENTE] [nvarchar](9) NOT NULL,
	[CIDADE_CLIENTE] [nvarchar](50) NOT NULL,
	[ESTADO_CLIENTE] [nvarchar](50) NOT NULL,
	[TELEFONE_CLIENTE] [nchar](14) NOT NULL,
	[EMAIL_CLIENTE] [nvarchar](50) NULL,
	[DATA_CADASTRO_CLIENTE] [datetime] NOT NULL,
	[NASCIMENTO_CLIENTE] [datetime] NOT NULL,
	[OBSERVACOES_CLIENTE] [nvarchar](300) NULL,
	[STATUS_CLIENTE] [nvarchar](8) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalhes_orcamento]    Script Date: 23/11/2023 14:30:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalhes_orcamento](
	[ID_DETALHES_ORCAMENTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_ORCAMENTO] [int] NOT NULL,
	[ID_PRODUTO] [int] NOT NULL,
	[QUANTIDADE] [int] NOT NULL,
	[VALOR_UNITARIO] [decimal](7, 2) NOT NULL,
 CONSTRAINT [PK__Detalhes__EB0546B718F9339B] PRIMARY KEY CLUSTERED 
(
	[ID_DETALHES_ORCAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalhes_vendas]    Script Date: 23/11/2023 14:30:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalhes_vendas](
	[ID_DETALHES] [int] IDENTITY(1,1) NOT NULL,
	[ID_VENDA] [int] NOT NULL,
	[ID_PRODUTO] [int] NOT NULL,
	[QUANTIDADE] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionarios]    Script Date: 23/11/2023 14:30:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionarios](
	[ID_FUNCIONARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_FUNCIONARIO] [nvarchar](50) NOT NULL,
	[ENDERECO_FUNCIONARIO] [nvarchar](50) NOT NULL,
	[BAIRRO_FUNCIONARIO] [nvarchar](30) NOT NULL,
	[CEP_FUNCIONARIO] [nvarchar](9) NOT NULL,
	[CIDADE_FUNCIONARIO] [nvarchar](50) NOT NULL,
	[ESTADO_FUNCIONARIO] [nvarchar](50) NOT NULL,
	[TELEFONE_FUNCIONARIO] [nchar](14) NOT NULL,
	[EMAIL_FUNCIONARIO] [nvarchar](50) NULL,
	[DATA_CADASTRO] [datetime] NOT NULL,
	[NASCIMENTO_FUNCIONARIO] [datetime] NOT NULL,
	[OBSERVACOES_FUNCIONARIOS] [nvarchar](300) NULL,
	[SITUACAO_FUNCIONARIO] [nvarchar](8) NOT NULL,
 CONSTRAINT [PK_Funcionarios] PRIMARY KEY CLUSTERED 
(
	[ID_FUNCIONARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nivel_Usuarios]    Script Date: 23/11/2023 14:30:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nivel_Usuarios](
	[ID_NIVEL] [int] IDENTITY(1,1) NOT NULL,
	[NOME_NIVEL] [nvarchar](50) NOT NULL,
	[DESCRICAO_NIVEL] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_Nivel_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID_NIVEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orcamento]    Script Date: 23/11/2023 14:30:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orcamento](
	[ID_ORCAMENTO] [int] IDENTITY(1,1) NOT NULL,
	[DATA_REALIZADO] [datetime] NOT NULL,
	[VALIDADE_ORCAMENTO] [datetime] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_FUNCIONARIO] [int] NOT NULL,
	[DESCONTO] [decimal](4, 2) NOT NULL,
	[FORMA_PAGAMENTO_ORCAMENTO] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__Orcament__79D5C22D3FF8E1AC] PRIMARY KEY CLUSTERED 
(
	[ID_ORCAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoa_fisica]    Script Date: 23/11/2023 14:30:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoa_fisica](
	[ID_CLIENTE] [int] NOT NULL,
	[CPF_CLIENTE] [nvarchar](30) NOT NULL,
	[RG_CLIENTE] [nvarchar](30) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoa_juridica]    Script Date: 23/11/2023 14:30:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoa_juridica](
	[ID_CLIENTE] [int] NOT NULL,
	[CNPJ_CLIENTE] [nvarchar](30) NOT NULL,
	[IE_CLIENTE] [nvarchar](30) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produtos]    Script Date: 23/11/2023 14:30:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produtos](
	[ID_PRODUTO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGOBARRAS_PRODUTO] [nvarchar](30) NOT NULL,
	[NOME_PRODUTO] [nvarchar](50) NOT NULL,
	[DESCRICAO_PRODUTO] [nvarchar](300) NOT NULL,
	[ID_UNIDADE] [int] NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
	[ESTOQUE_MINIMO] [int] NOT NULL,
	[ESTOQUE_ATUAL] [int] NOT NULL,
	[VALOR_COMPRA] [decimal](6, 2) NOT NULL,
	[VALOR_VENDA] [decimal](6, 2) NOT NULL,
	[MARGEM] [decimal](4, 2) NOT NULL,
	[ANOTACOES_PRODUTO] [nvarchar](max) NULL,
	[SITUACAO_PRODUTO] [bit] NOT NULL,
	[DATA_CADASTRO_PRODUTO] [datetime] NULL,
 CONSTRAINT [PK__Produtos__69B28A520E06E6AE] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unidade]    Script Date: 23/11/2023 14:30:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unidade](
	[ID_UNIDADE_PRODUTOS] [int] IDENTITY(1,1) NOT NULL,
	[NOME_UNIDADE_PRODUTOS] [nvarchar](50) NOT NULL,
	[DESCRICAO_UNIDADE_PRODUTOS] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_UNIDADE_PRODUTOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 23/11/2023 14:30:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_USUARIO] [nvarchar](50) NOT NULL,
	[DATA_CADASTRO] [datetime] NOT NULL,
	[LOGIN_USUARIO] [nvarchar](50) NOT NULL,
	[SENHA_USUARIO] [nvarchar](50) NOT NULL,
	[STATUS_USUARIO] [nvarchar](50) NOT NULL,
	[ID_NIVEL] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendas]    Script Date: 23/11/2023 14:30:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendas](
	[ID_VENDA] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[DATA_VENDA] [datetime] NOT NULL,
	[SITUACAO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VENDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Detalhes_orcamento]  WITH CHECK ADD  CONSTRAINT [FK__Detalhes___ID_OR__534D60F1] FOREIGN KEY([ID_ORCAMENTO])
REFERENCES [dbo].[Orcamento] ([ID_ORCAMENTO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Detalhes_orcamento] CHECK CONSTRAINT [FK__Detalhes___ID_OR__534D60F1]
GO
ALTER TABLE [dbo].[Detalhes_orcamento]  WITH CHECK ADD  CONSTRAINT [FK__Detalhes___ID_PR__5441852A] FOREIGN KEY([ID_PRODUTO])
REFERENCES [dbo].[Produtos] ([ID_PRODUTO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Detalhes_orcamento] CHECK CONSTRAINT [FK__Detalhes___ID_PR__5441852A]
GO
ALTER TABLE [dbo].[Detalhes_vendas]  WITH CHECK ADD FOREIGN KEY([ID_PRODUTO])
REFERENCES [dbo].[Produtos] ([ID_PRODUTO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Detalhes_vendas]  WITH CHECK ADD FOREIGN KEY([ID_VENDA])
REFERENCES [dbo].[Vendas] ([ID_VENDA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orcamento]  WITH CHECK ADD  CONSTRAINT [FK_Orcamento_Cliente] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[Clientes] ([ID_CLIENTE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Orcamento] CHECK CONSTRAINT [FK_Orcamento_Cliente]
GO
ALTER TABLE [dbo].[Pessoa_fisica]  WITH CHECK ADD  CONSTRAINT [FK_Pessoa_fisica_Clientes] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[Clientes] ([ID_CLIENTE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pessoa_fisica] CHECK CONSTRAINT [FK_Pessoa_fisica_Clientes]
GO
ALTER TABLE [dbo].[Pessoa_juridica]  WITH CHECK ADD  CONSTRAINT [FK_Pessoa_juridica_Clientes] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[Clientes] ([ID_CLIENTE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pessoa_juridica] CHECK CONSTRAINT [FK_Pessoa_juridica_Clientes]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Nivel_Usuarios] FOREIGN KEY([ID_NIVEL])
REFERENCES [dbo].[Nivel_Usuarios] ([ID_NIVEL])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Nivel_Usuarios]
GO
USE [master]
GO
